<div>
    <div class="container flex">
        <form [formGroup]="searchByPlayerCSIdForm" (ngSubmit)="searchByPlayerCSId(this.searchByPlayerCSIdForm.controls.id.value!)">
            <p>Buscar por id</p>
            <div>
                <input type="number" class="input" placeholder="PlayerClubSeasonId" formControlName="id">
                <button type="submit" class="search">Buscar</button>
            </div>
        </form>
        <form [formGroup]="searchByPlayerNameForm" (ngSubmit)="searchByPlayerName(this.searchByPlayerNameForm.get('name')!.value)">
            <p>Buscar por Nombre de jugador</p>
            <div>
                <input type="text" class="input" placeholder="Nombre de jugador" formControlName="name">
                <button type="submit" class="search">Buscar</button>
            </div>
        </form>
        <form [formGroup]="searchByClubNameForm" (ngSubmit)="searchByClubName(this.searchByClubNameForm.get('name')!.value)">
            <p>Buscar por Nombre de club</p>
            <div>
                <input type="text" class="input" placeholder="Nombre de Club" formControlName="name">
                <button type="submit" class="search">Buscar</button>
            </div>
        </form>
        <form [formGroup]="searchByPlayerPositionsForm" (ngSubmit)="searchByPlayerPositions(this.searchByPlayerPositionsForm.get('positions')!.value)">
            <p>Buscar por Posición de jugador</p>
            <div>
                <input type="text" class="input" placeholder="Posición de jugador" formControlName="positions">
                <button type="submit" class="search">Buscar</button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="div-ontable">
            <button class="butt" (click)="cleanTable()">Limpiar tabla</button>
            <button class="butt" (click)="createPlayerOpt()">Crear jugador</button>
        </div>
        <div class="table-container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>PlayerId</td>
                        <td>FifaVersionId</td>
                        <td>ClubId</td>
                        <td>Name</td>
                        <td>Club Name</td>
                        <td>Club Jersey Number</td>
                        <td>Positions</td>
                        <td>Nationality</td>
                        <td>Overall</td>
                        <td>Potential</td>
                        <td>Age</td>
                    </tr>
                </thead>
                <tbody>
                    @for (playercs of this.playerCSCollection; track $index) {
                    <tr (click)="selectPlayer(playercs)">
                        <td>{{playercs.id}}</td>
                        <td>{{playercs.PlayerId}}</td>
                        <td>{{playercs.FifaVersionId}}</td>
                        <td>{{playercs.ClubId}}</td>
                        <td>{{playercs.Player.short_name}}</td>
                        <td>{{playercs.Club.club_name}}</td>
                        <td>{{playercs.club_jersey_number}}</td>
                        <td>{{playercs.player_positions}}</td>
                        <td>{{playercs.Player.nationality_name}}</td>
                        <td>{{playercs.overall}}</td>
                        <td>{{playercs.potential}}</td>
                        <td>{{playercs.age}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        @if (opt == 0) {
            <app-player-details [viewStats]="this.viewStats" (viewChange)="this.viewChange($event)" (opt)="this.editPlayerOpt($event)"></app-player-details>
        } @else if (opt == 1) {
            <app-form-create (opt)="this.editPlayerOpt($event)"></app-form-create>
            <button class="butt2" (click)="createPlayerOpt()">Cancelar</button>
        } @else {
            <app-edit-form (opt)="this.editPlayerOpt($event)"></app-edit-form>
            <button class="butt2" (click)="editPlayerOpt(0)">Cancelar</button>
        }
    </div>
</div>