.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6235);
    color: #fff;
    text-align: center;
    z-index: 1000;
}

h1 {
    font-family: 'Oswald';
    transition: color 0.8s ease;
}

h1:hover {
    color: goldenrod;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul a {
    color: white;
    text-decoration: none;
    transition: color 0.8s ease;
}

nav ul a:hover {
    color: goldenrod;
}