<div>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <h2>Editar jugador: </h2>

        <h3>Player</h3>
        <input class="input" type="text" placeholder="Id del jugador nuevo" id="player_id" formControlName="player_id">
        <input class="input" type="text" placeholder="Nombre corto" id="short_name" formControlName="short_name">
        <input class="input" type="text" placeholder="Nombre completo" id="long_name" formControlName="long_name">
        <input class="input" type="text" placeholder="ID Nacionalidad" id="nationality_id" formControlName="nationality_id">
        <input class="input" type="text" placeholder="Nombre Nacionalidad" id="nationality_name" formControlName="nationality_name">
        <input class="input" type="text" placeholder="Fecha de nacimiento" id="birth_date" formControlName="birth_date">
        <input class="input" type="text" placeholder="Pie preferido" id="preferred_foot" formControlName="preferred_foot">


        <h3>Player Club Season</h3>
        <input class="input" type="text" placeholder="ID Versión FIFA" id="FifaVersionId" formControlName="FifaVersionId">
        <input class="input" type="text" placeholder="ID del Club" id="ClubId" formControlName="ClubId">
        <input class="input" type="text" placeholder="Posiciones del jugador" id="player_positions" formControlName="player_positions">
        <input class="input" type="number" placeholder="Overall" id="overall" formControlName="overall">
        <input class="input" type="number" placeholder="Potencial" id="potential" formControlName="potential">
        <input class="input" type="text" placeholder="Valor" id="value" formControlName="value">
        <input class="input" type="text" placeholder="Salario" id="wage" formControlName="wage">
        <input class="input" type="number" placeholder="Edad" id="age" formControlName="age">
        <input class="input" type="number" placeholder="Altura" id="height" formControlName="height">
        <input class="input" type="number" placeholder="Peso" id="weight" formControlName="weight">
        <input class="input" type="text" placeholder="Posición en el club" id="club_position" formControlName="club_position">
        <input class="input" type="number" placeholder="Número de camiseta" id="club_jersey_number" formControlName="club_jersey_number">
        <input class="input" type="text" placeholder="Prestado de" id="club_loaned_from" formControlName="club_loaned_from">
        <input class="input" type="text" placeholder="Fecha de unión al club" id="club_joined_date" formControlName="club_joined_date">
        <input class="input" type="number" placeholder="Contrato hasta año" id="club_contract_until_year" formControlName="club_contract_until_year">
        <input class="input" type="text" placeholder="Posición en la selección" id="nation_position" formControlName="nation_position">
        <input class="input" type="number" placeholder="Número de camiseta en la selección" id="nation_jersey_number" formControlName="nation_jersey_number">
        <input class="input" type="number" placeholder="Pie débil" id="weak_foot" formControlName="weak_foot">
        <input class="input" type="number" placeholder="Movimientos de habilidad" id="skill_moves" formControlName="skill_moves">
        <input class="input" type="number" placeholder="Reputación internacional" id="international_reputation" formControlName="international_reputation">
        <input class="input" type="text" placeholder="Tasa de trabajo" id="work_rate" formControlName="work_rate">
        <input class="input" type="text" placeholder="Tipo de cuerpo" id="body_type" formControlName="body_type">
        <input class="input" type="text" placeholder="Cara real" id="real_face" formControlName="real_face">
        <input class="input" type="text" placeholder="Cláusula de rescisión" id="release_clause" formControlName="release_clause">
        <input class="input" type="text" placeholder="Etiquetas del jugador" id="player_tags" formControlName="player_tags">
        <input class="input" type="text" placeholder="Rasgos del jugador" id="player_traits" formControlName="player_traits">
        <input class="input" type="url" placeholder="URL de la cara del jugador" id="player_face_url" formControlName="player_face_url">


        <h3>Stats</h3>
        <input class="input" type="number" placeholder="Ritmo" id="pace" formControlName="pace">
        <input class="input" type="number" placeholder="Físico" id="physic" formControlName="physic">
        <input class="input" type="number" placeholder="Pase" id="passing" formControlName="passing">
        <input class="input" type="number" placeholder="Disparo" id="shooting" formControlName="shooting">
        <input class="input" type="number" placeholder="Defensa" id="defending" formControlName="defending">
        <input class="input" type="number" placeholder="Regate" id="dribbling" formControlName="dribbling">
        <input class="input" type="number" placeholder="Curva" id="skill_curve" formControlName="skill_curve">
        <input class="input" type="number" placeholder="Salto" id="power_jumping" formControlName="power_jumping">
        <input class="input" type="number" placeholder="Resistencia" id="power_stamina" formControlName="power_stamina">
        <input class="input" type="number" placeholder="Fuerza" id="power_strength" formControlName="power_strength">
        <input class="input" type="number" placeholder="Regate en carrera" id="skill_dribbling" formControlName="skill_dribbling">
        <input class="input" type="number" placeholder="Visión" id="mentality_vision" formControlName="mentality_vision">
        <input class="input" type="number" placeholder="Agilidad" id="movement_agility" formControlName="movement_agility">
        <input class="input" type="number" placeholder="Balance" id="movement_balance" formControlName="movement_balance">
        <input class="input" type="number" placeholder="Tiros lejanos" id="power_long_shots" formControlName="power_long_shots">
        <input class="input" type="number" placeholder="Volleys" id="attacking_volleys" formControlName="attacking_volleys">
        <input class="input" type="number" placeholder="Velocidad" id="goalkeeping_speed" formControlName="goalkeeping_speed">
        <input class="input" type="number" placeholder="Precisión de tiros libres" id="skill_fk_accuracy" formControlName="skill_fk_accuracy">
        <input class="input" type="number" placeholder="Centros" id="attacking_crossing" formControlName="attacking_crossing">
        <input class="input" type="number" placeholder="Estiradas" id="goalkeeping_diving" formControlName="goalkeeping_diving">
        <input class="input" type="number" placeholder="Reacciones" id="movement_reactions" formControlName="movement_reactions">
        <input class="input" type="number" placeholder="Control de balón" id="skill_ball_control" formControlName="skill_ball_control">
        <input class="input" type="number" placeholder="Pase largo" id="skill_long_passing" formControlName="skill_long_passing">
        <input class="input" type="number" placeholder="Definición" id="attacking_finishing" formControlName="attacking_finishing">
        <input class="input" type="number" placeholder="Saques de portero" id="goalkeeping_kicking" formControlName="goalkeeping_kicking">
        <input class="input" type="number" placeholder="Calma" id="mentality_composure" formControlName="mentality_composure">
        <input class="input" type="number" placeholder="Penales" id="mentality_penalties" formControlName="mentality_penalties">
        <input class="input" type="number" placeholder="Manejo de portero" id="goalkeeping_handling" formControlName="goalkeeping_handling">
        <input class="input" type="number" placeholder="Reflejos de portero" id="goalkeeping_reflexes" formControlName="goalkeeping_reflexes">
        <input class="input" type="number" placeholder="Agresividad" id="mentality_aggresion" formControlName="mentality_aggresion">
        <input class="input" type="number" placeholder="Posicionamiento" id="mentality_positioning" formControlName="mentality_positioning">
        <input class="input" type="number" placeholder="Aceleración" id="movement_acceleration" formControlName="movement_acceleration">
        <input class="input" type="number" placeholder="Velocidad en carrera" id="movement_sprint_speed" formControlName="movement_sprint_speed">
        <input class="input" type="number" placeholder="Pase corto" id="attacking_short_passing" formControlName="attacking_short_passing">
        <input class="input" type="number" placeholder="Posicionamiento del portero" id="goalkeeping_positioning" formControlName="goalkeeping_positioning">
        <input class="input" type="number" placeholder="Intercepciones" id="mentality_interceptions" formControlName="mentality_interceptions">
        <input class="input" type="number" placeholder="Barridas" id="defending_sliding_tackle" formControlName="defending_sliding_tackle">
        <input class="input" type="number" placeholder="Entradas de pie" id="defending_standing_tackle" formControlName="defending_standing_tackle">
        <input class="input" type="number" placeholder="Precisión de cabezazos" id="attacking_heading_accuracy" formControlName="attacking_heading_accuracy">
        <input class="input" type="number" placeholder="Marcaje" id="defending_marking_awareness" formControlName="defending_marking_awareness">

        <button class="submit" type="submit">Confirmar</button>
    </form>
</div>
