.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: 'Titillium Web';
  }
  
::placeholder {
    font-family: 'Titillium Web';
  }
  
.form button {
    align-self: flex-end;
  }
  
.flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 85%;
  }
  
.input:focus {
    outline: none;
  }
  
.inputForm:focus-within {
    border: 1.5px solid goldenrod;
  }
  
.span {
    font-size: 14px;
    margin-left: 5px;
    color: goldenrod;
    font-weight: 500;
    cursor: pointer;
  }
  
.button-submit {
    margin: 20px 0 10px 0;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
.button-submit:hover {
    background-color: rgb(50, 50, 50);
    color: goldenrod;
  }
  
.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }     